.legal-golden-background {
    background-color: #B68C5A !important;
}

.legal-text-black {
    color: #414040;
}

.legal-text-gray {
    color: #707070 !important;
}

.legal-font-title {
    font-family: 'EB Garamond', serif;
}

.legal-font-description {
    font-family: 'Poppins', sans-serif;
}