.legal-golden-background {
    background-color: #B68C5A !important;
}

.legal-text-black {
    color: #414040 !important;
}

.legal-text-gray {
    color: #707070 !important;
}

.legal-white-dark {
    color: #E7E7E7 !important;
}

.legal-font-title {
    font-family: 'EB Garamond', serif !important;
}

.legal-font-description {
    font-family: 'Poppins', sans-serif !important;
}

.legal-h-500 {
    height: 500px !important;
}

/* banner */
#banner {
    background-image: url('../images/banner.png') !important;
    background-position: center !important;
    background-size: cover !important;
}