.legal-golden-background {
    background-color: #B68C5A !important;
}

.legal-white-dark {
    color: #E7E7E7 !important;
}

.legal-font-title {
    font-family: 'EB Garamond', serif !important;
    color: #414040;
}

.legal-font-description {
    font-family: 'Poppins', sans-serif !important;
    color: #707070;
}

.legal-h-500 {
    height: 550px !important;
}

/* banner */
#banner {
    background-image: url('../images/banner.png') !important;
    background-position: center !important;
    background-size: cover !important;
}

.legal-bg-gradient {
    background: linear-gradient(180deg, #F3F3F3 0%, rgba(243, 243, 243, 0) 100%);
}

.legal-mt-120 {
    margin-top: 120px;
}

.legal-img-72 {
    width: 70px;
    height: 72px;
}